*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.hero_image{
    height: 790px;
    width: 100vw;

}
.name{
    position: absolute;
    top: 15%;
    left: 35%;
    font-family: 'Sacramento', cursive;
    font-weight: 900;
    font-size: 100px;
}
div{
    position: absolute;
    top: 35%;
    left: 45%;
    font-size: 1.5rem;
}